@model NEWWORK.Tbl_iş_işlem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tbl_iş_işlem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Günlük_iş.Konum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Günlük_iş.Konum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Kullanici.Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Kullanici.Ad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
